
.input-container {
	width: 120px;
}

.table-input {
	text-align: center;
	width: 30%;
	border: 0px none;
}

.workout-set {
	float:left;
	width: 190px;
	border: 1px solid black;
	margin:5px;
	padding:3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
