<ng-container ktPortletTools>
	<table class="center">
		<tr>
			<td><img src="assets/media/icons/svg/Navigation/Angle-left.svg" alt="Left"/></td>
			<td>{{currentMonth}}</td>
			<td><img src="assets/media/icons/svg/Navigation/Angle-right.svg" alt="Right"/></td>
		</tr>
		<tr>
			<td><img src="assets/media/icons/svg/Navigation/Angle-left.svg" alt="Left"/></td>
			<td>{{selectedDate.getFullYear()}}</td>
			<td><img src="assets/media/icons/svg/Navigation/Angle-right.svg" alt="Right"/></td>
		</tr>
	</table>
	<br>
	<table border="1">
		<tr>
			<td style="background-color: lightgray;">Date</td>
			<td *ngFor="let day of daysInMonth(selectedDate)"
				[ngClass]="getSessionClass(day)"
				(click)="dayChanged(day)"
			>{{day}}
			</td>
		</tr>
	</table>
</ng-container>
