table {
	width: 100%;
}

td {
	text-align: center;
	width: 20px;
}

.has-session {
	background-color: #c7c3ee;
}

.is-selected {
	font-weight: bold;
	border: 3px solid;
}

.is-selected-with-session {
	background-color: #c7c3ee;
	font-weight: bold;
	border: 3px solid;
}

table.center {
	margin-left:auto;
	margin-right:auto;
	width: 15%;
	text-align: center;
}
