<kt-portlet [class]="'kt-portlet'">
	<kt-portlet-header [title]="user.firstName + ' ' + user.lastName">
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="row">
			<div class="col-xl-8">
				<kt-portlet [class]="'kt-portlet'">
					<kt-portlet-header [title]="'Measurements'">
					</kt-portlet-header>
					<kt-portlet-body>
						<div *ngFor="let bodyMeasurement of bodyMeasurements">Weight: {{bodyMeasurement.weight}}</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
			<div class="col-xl-4">
				<kt-portlet [class]="'kt-portlet'">
					<kt-portlet-header [title]="'Add Measurements here'">
					</kt-portlet-header>
					<kt-portlet-body>
						<div class="measurements-container">
							<mat-form-field>
								<input matInput [matDatepicker]="picker" placeholder="Choose a date">
								<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							</mat-form-field>
							<table>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Weight</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.weight">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Chest</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.chest">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Hips</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.hip">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Stomach</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.stomach">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Left thigh</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.leftThigh">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Right thigh</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.rightThigh">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Left calve</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.leftCalve">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Right calve</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.rightCalve">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Left biceps</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.leftBiceps">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Right biceps</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.rightBiceps">
								</tr>
								<tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Left forearm</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.leftForearm">
								</tr><tr>
									<mat-slide-toggle></mat-slide-toggle>
									<td>Right forearm</td>
									<input type="number" [(ngModel)]="postBodyMeasurements.rightForearm">
								</tr>
							</table>
						</div>
						<button mat-raised-button (click)="postMeasurements()">Post</button>
					</kt-portlet-body>
				</kt-portlet>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
