<kt-portlet [class]="'kt-portlet'">
	<kt-portlet-header [title]="user.firstName + ' ' + user.lastName">
	</kt-portlet-header>
	<kt-portlet-body>
		<div class="row">
			<div class="col-xl-8">
				<kt-portlet [class]="'kt-portlet'">
					<kt-portlet-header [title]="'Measurements'">
					</kt-portlet-header>
					<kt-portlet-body>
						<div>bla</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
			<div class="col-xl-4">
				<kt-portlet [class]="'kt-portlet'">
					<kt-portlet-header [title]="'Add Measurements here'">
					</kt-portlet-header>
					<kt-portlet-body>
						<div>bla</div>
					</kt-portlet-body>
				</kt-portlet>
			</div>
		</div>
	</kt-portlet-body>
</kt-portlet>
