<div class="row">
	<div ktPortletTools class="col-xl-12">
		<table #programmeTable mat-table [dataSource]="programmes" multiTemplateDataRows
			   class="mat-elevation-z8">
			<ng-container matColumnDef="name">
				<th mat-header-cell *matHeaderCellDef>
					<div style="width: 100%">
						<div style="float: left;">
							<h3>Programmes</h3>
						</div>
						<div style="float: right;">
							<button (click)="createProgramme()" mat-button color="primary">Create</button>
							<kt-context-menu></kt-context-menu>
						</div>
					</div>
				</th>
				<td mat-cell *matCellDef="let programme">{{programme.name}}
				</td>
			</ng-container>
			<ng-container matColumnDef="expandedDetail">
				<td class="expanded-field" mat-cell *matCellDef="let programme"
					[attr.colspan]="displayedProgrammeColumns.length">
					<div class="example-element-detail"
						 [@detailExpand]="programme == expandedProgramme ? 'expanded' : 'collapsed'">
						<div>
							<p>{{programme.description}}</p>
							<div>
							<span class="phase">
								<h5>Strength Phase</h5>
								<p>Splits: 4</p>
							</span>
								<span class="phase">
								<h5>Muscle Phase</h5>
								<p>Splits: 5</p>
							</span>
								<span class="phase">
								<h5>Endurance Phase</h5>
								<p>Splits: 6</p>
							</span>
							</div>
						</div>
					</div>
				</td>
			</ng-container>
			<tr mat-header-row *matHeaderRowDef="displayedProgrammeColumns"></tr>
			<tr mat-row [style.background-color]="getRowColor(programme)" *matRowDef="let programme; columns: displayedProgrammeColumns;"
				(click)="expandedProgramme = expandedProgramme === programme ? null : programme">
			</tr>
			<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"
				class="example-detail-row"></tr>
		</table>
	</div>
</div>
