<div class="create-programme-container">
	<h1 mat-dialog-title>Create Programme</h1>
	<table>
		<tr>
			<td>Name</td>
			<input onClick="this.select();" type="text" [(ngModel)]="programme.name">
		</tr>
		<tr>
			<td>Description</td>
			<input onClick="this.select();" type="text" [(ngModel)]="programme.description">
		</tr>
		<tr>
			<button [disabled]="!formIsValid()" (click)="createProgramme()" mat-raised-button color="primary">Create</button>
			<button mat-raised-button color="warn" (click)="onCancelClick()">Cancel</button>
		</tr>
	</table>
</div>
