
.table-input {
	text-align: center;
	width: 12%;
	border: 0px none;
}

.workout-set {
	width: 180px;
	border-right: 1px solid black;
	margin:5px;
	padding:5px;
	float:left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
