<div class="row align-items-center">
	<div>
		<img src="assets/media/icons/svg/General/Trash.svg" alt="Delete"
			 (click)="removeWorkoutExercise()"/>
	</div>
	<div>
		{{workoutExercise.exerciseNumber}}
	</div>
	<div class="col-2">
		<mat-select placeholder="select exercise"
					[disabled]="this.parentRef.sessionLock == 'Lock'"
					[(ngModel)]="workoutExercise.exerciseId"
					(ngModelChange)="updateExerciseId()">
			<mat-option *ngFor="let exercise of exerciseDictionary"
						[value]="exercise.id"
			>{{exercise.name}}</mat-option>
		</mat-select>
	</div>
	<div class="col">
		<div #viewWorkoutSetRef></div>
		<button style="float: left;" *ngIf="workoutExercise.exerciseId != undefined" mat-button color="primary"
				(click)="createWorkoutSetComponent()">Add set
		</button>
	</div>
</div>
<div class="row align-items-center">
	<div class="col">
		<mat-divider></mat-divider>
	</div>
</div>
