.container {
	width: 100%;
	background-color: #0abb87;
}

.workout-set {
	float: left;
}

//.mat-select {
//	text-align: center;
//	text-align-last: center;
//	font-size: 1.5em;
//
//	/* webkit*/
//}
//mat-option {
//	text-align: center;
//	/* reset to left*/
//}
//
//::ng-deep .mat-select-content{
//	font-size: 1.25em;
//}
//
//::ng-deep .mat-select-arrow{
//	visibility: hidden;
//}
//
//::ng-deep .mat-select-placeholder{
//	font-size: 1.25em;
//}
