<table class="session-table">
	<thead>
	<tr>
		<th>Exercise</th>
		<th>Set1</th>
		<th>Set2</th>
		<th>Set3</th>
		<th>Set4</th>
		<th>Set5</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let exerciseIndex of [0]">
		<td class="exercise-field">
			<mat-select
				placeholder="select exercise"
				[ngModel]="sessionExercises.get(exerciseIndex)"
				(ngModelChange)="sessionExercises.set(exerciseIndex, $event)"
			>
				<mat-option *ngFor="let exercise of exerciseDictionary"
							[value]="exercise.id"
				>{{exercise.name}}</mat-option>
			</mat-select>
		</td>
		<td *ngFor="let workoutSet of workoutSetMap.get(sessionExercises.get(exerciseIndex))">
			<kt-session-set
				[workoutSet]="workoutSet"
			></kt-session-set>
		</td>
		<td *ngIf="workoutSetMap.get(sessionExercises.get(exerciseIndex)) == undefined"><img (click)="addWorkoutSet(sessionExercises.get(exerciseIndex))" src="assets/plugins/mapplic/images/plus.png"></td>
	</tr>
	<button (click)="debug()">DEBUG</button>
	</tbody>
</table>
