.session-table {
	width: 100%;
}

.session-table th, td {
	padding: 5px;
	border: 1px solid black;
	border-collapse: collapse;
}

.input-container {
	width: 120px;
}

.delete-workoutset  {
	width: 5px;
	padding: 0px;
	border: none;
}

.exercise-field {
	width: 220px;
}


.table-input {
	text-align: center;
	width: 30%;
	border: 0px none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.workout-details mat-form-field {
	padding-top: 10px;
	width: 120px;
	height: 100%;
}
