.exercise-select {
	width: 220px;
}

table {
	width: 100%;
}

table td {
	width: 120px;
}

.table-input {
	text-align: center;
	width: 30%;
	border: 0px none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.workout-details mat-form-field {
	padding-top: 10px;
	width: 120px;
	height: 100%;
}

.workout-details mat-slide-toggle {
	padding-top: 10px;
	padding-left: 20px;
	height: 100%;
}

