<kt-portlet-header [title]="'Workout'">
	<ng-container ktPortletTools>
		<div class="workout-details">
			<mat-form-field>
				<mat-select placeholder="Programme"
							[(ngModel)]="programme">
					<mat-option value="Stronglifts 5x5">Stronglifts 5x5</mat-option>
					<mat-option value="Max Muscle Plan">Max Muscle Plan</mat-option>
					<mat-option value="Custom">Custom</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-select
					placeholder="Split"
					[(ngModel)]="splitName">
					<mat-option value="Split A">Split A</mat-option>
					<mat-option value="Split B">Split B</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</ng-container>
</kt-portlet-header>
<kt-portlet-body>
	<table border="1">
		<thead>
		<tr>
			<th>Exercise</th>
			<th>Set1</th>
			<th>Set2</th>
			<th>Set3</th>
			<th>Set4</th>
			<th>Set5</th>
		</tr>
		</thead>
		<tbody>
		<tr *ngFor="let exerciseIndex of defaultExerciseAmount">
			<td>
				<mat-select
					placeholder="{{getExerciseForIndex(exerciseIndex)}}"
					class="exercise-select"
					(selectionChange)="exerciseEntered(exerciseIndex, $event)"
					placeholder="Select">
					<mat-option *ngFor="let exercise of exercises" [value]="exercise">{{exercise.name}}</mat-option>
				</mat-select>
			</td>

			<td *ngFor="let setIndex of defaultWorkoutSetAmount">
				<span *ngIf="shouldShowInput(exerciseIndex, setIndex)">
					<input type="number" class="table-input"
						   [(ngModel)]="exerciseMap.get(exerciseIndex).get(setIndex).repetitions">
					x
					<input type="number" step="0.5" class="table-input"
						   [(ngModel)]="exerciseMap.get(exerciseIndex).get(setIndex).weight">
					kg
				</span>
			</td>
		</tr>
		</tbody>
	</table>

	<button (click)="debugFunc()">Click for debug</button>
</kt-portlet-body>
