.session-table {
	width: auto;
}

.session-table th, td {
	width: 110px;
	padding: 5px;
	border: 1px solid black;
	border-collapse: collapse;
}

.delete-workoutset  {
	width: 5px;
	padding: 0px;
	border: none;
}

.exercise-field {
	width: 220px;
}


.workout-details mat-form-field {
	padding-top: 10px;
	width: 120px;
	height: 100%;
}
